header{
    height: 150px;
    border: 2px solid red;
    text-align: center;
}

.wireframe, .blocks, .block{
    height: fit-content;
    border: 2px solid red;
}
.block{
    margin-left: 3%;
}

#searchBtn, #inputCity{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.currentData{
    height: fit-content;
}
